# Block_HTTPDNS
# Source: https://github.com/VirgilClyne/GetSomeFries
# Policy: reject | Generated: 2026-05-17T02:01:03.695Z | Rules: 64

host, httpdns.alicdn.com, reject
host, httpdns-api.aliyuncs.com, reject
host, httpdns-sc.aliyuncs.com, reject
host, resolvers-cn.httpdns.aliyuncs.com, reject
ip-cidr, 203.107.1.0/24, reject
host, httpsdns.baidu.com, reject
host, httpdns.baidu.com, reject
ip-cidr, 180.76.76.112/32, reject
host, httpdns.baidubce.com, reject
host, httpdns.bcelive.com, reject
ip-cidr, 180.76.76.200/32, reject
ip-cidr, 180.76.76.220/32, reject
host, httpdns.bilivideo.com, reject
host, httpdns.c.cdnhwc2.com, reject
host, doh.iqiyi.com, reject
host, dns.jd.com, reject
ip-cidr, 101.124.19.122/32, reject
ip6-cidr, 2402:db40:5100:1011::5/128, reject
ip-cidr, 103.224.222.208/32, reject
host, httpdns.kg.qq.com, reject
host, httpdns.calorietech.com, reject
host, httpdns.meituan.com, reject
host, httpdnsmultiapi.meituan.com, reject
host, httpdnsmultiapivip.meituan.com, reject
host, dnspod.meituan.httpdns.qcloud.com, reject
host, dnspod.meituan.httpdns.start.qcloud.com, reject
ip-cidr, 202.90.108.13/32, reject
ip-cidr, 202.90.110.46/32, reject
host, httpdns.immomo.com, reject
host, httpdns.yunxinfw.com, reject
host, httpdns.yunxindns.com, reject
host, httpdns.n.netease.com, reject
host, httpdns-sdk.n.netease.com, reject
host, httpdns.music.163.com, reject
host, music.httpdns.c.163.com, reject
host, lofter.httpdns.c.163.com, reject
ip-cidr, 59.111.239.61/32, reject
ip-cidr, 59.111.239.62/32, reject
ip-cidr, 115.236.121.51/32, reject
ip-cidr, 115.236.121.195/32, reject
host, httpdns.ocloud.oppomobile.com, reject
host, httpdns.push.oppomobile.com, reject
host-suffix, httpdns.pro, reject
ip-cidr, 119.29.29.98/32, reject
ip-cidr, 119.29.29.99/32, reject
host, httpdns.volcengineapi.com, reject
host, dns.weibo.cn, reject
ip-cidr, 39.97.128.148/32, reject
ip-cidr, 39.97.130.51/32, reject
host, aedns.weixin.qq.com, reject
host, dns.weixin.qq.com, reject
host, dns.weixin.qq.com.cn, reject
ip-cidr, 42.81.232.18/32, reject
ip-cidr, 42.187.182.106/32, reject
ip-cidr, 42.187.182.123/32, reject
ip-cidr, 42.187.184.154/32, reject
ip-cidr, 123.151.54.50/32, reject
ip6-cidr, 2402:4e00:1900:1700:0:9554:1ad9:c3a/128, reject
ip6-cidr, 240e:928:1400:10::25/128, reject
ip-cidr, 182.254.116.117/32, reject
ip-cidr, 182.254.118.119/32, reject
host, yuyin-httpdns.gslb.yy.com, reject
ip-cidr, 118.89.204.198/32, reject
ip6-cidr, 2402:4e00:1200:ed00:0:9089:6dac:96b6/128, reject
