# supercell
# Source: https://github.com/fishyo/someLoonThings
# Policy: proxy | Generated: 2026-05-17T01:44:44.887Z | Rules: 5

host-suffix, clashroyale.com, proxy
host-suffix, clashroyaleapp.com, proxy
host-suffix, brawlstars.com, proxy
host-suffix, supercell.com, proxy
host-suffix, brawlstarsgame.com, proxy
