# name: 九号出行获取 Cookie
# desc: 自动获取九号出行 App 的签到授权信息

^https:\/\/cn-cbu-gateway\.ninebot\.com\/portal\/api\/ url script-request-body https://raw.githubusercontent.com/fishyo/quanXthings/main/script/ninebot/ninebotCookie.js

hostname = cn-cbu-gateway.ninebot.com
